<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <th:block th:include="/common/header.html"></th:block>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>가맹점 직원 계정 목록</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/}">메인페이지</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="">가맹점 관리</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href=""><strong>가맹점 직원 계정 목록</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

<!--    <div class="body-header">-->
<!--        <div class="menu-title">계정 목록</div>-->
<!--        <div class="menu-path"><a th:href="@{/}">메인페이지</a> / <a href="">직원 관리</a> / <a href="">계정 목록</a></div>-->
<!--    </div>-->

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row" id="veryGood">
            <div class="col-sm-8" id="good">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>계정 목록</h2>
                        <p>
                            가맹점 직원 계정 목록 입니다.
                        </p>
                        <form method="get" id="searchForm" action="/franchise/managerList">
                        <div class="input-group">
                            <input type="text" placeholder="검색하세요 " name="searchWord" class="input form-control" value="">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i> 검색</button>
                            </span>
                        </div>
                        </form>
                        <div class="clients-list">
                            <span class="float-right small text-muted"></span>
                            <ul class="nav nav-tabs">
                                <li><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i>가맹점 직원 목록</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-user"></i>삭제된 가맹점 직원 목록</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table id="managerTable" class="table table-striped table-hover">
                                                <tbody>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>직원 아이디</th>
                                                    <th>직원 이름</th>
                                                    <th>가맹점 명</th>
                                                    <th>직원 전화번호</th>
                                                </tr>
                                                <tr th:each="managerList, index : ${ managerList }">
                                                    <td class="memberNo" th:text="${ managerList.memberNo }"></td>
                                                    <td>[[${index.count}]]</td>
                                                    <td th:text="${ managerList.memberId }"></td>
                                                    <td th:text="${ managerList.managerName }"></td>
                                                    <td th:text="${ managerList.franchiseInfo.branchName }"></td>
                                                    <td th:text="${ managerList.managerPhone }"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table id="removedManagerTable" class="table table-striped table-hover">
                                                <tbody>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>직원 아이디</th>
                                                    <th>직원 이름</th>
                                                    <th>가맹점 명</th>
                                                    <th>직원 전화번호</th>
                                                </tr>
                                                <tr th:each="removedManagerList, index : ${ removedManagerList }">
                                                    <td class="memberNo" th:text="${ removedManagerList.memberNo }"></td>
                                                    <td>[[${index.count}]]</td>
                                                    <td th:text="${ removedManagerList.memberId }"></td>
                                                    <td th:text="${ removedManagerList.managerName }"></td>
                                                    <td th:text="${ removedManagerList.franchiseInfo.branchName }"></td>
                                                    <td th:text="${ removedManagerList.managerPhone }"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="/franchise/managerDetailInfoModifyModal.html"></th:block>
            <th:block th:replace="/franchise/managerDetailView.html"></th:block>
        </div>
        <th:block th:replace="/common/footer.html"></th:block>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {

            $('.memberNo').attr('style', "display:none;");

            $("#managerTable tbody").on("click", "tr", function () {

                $(".franchiseDetailView").addClass("active").attr('style', "display:block");
                $("#updateManager").addClass("hover").attr('style', "display:block");
                $("#removeManager").addClass("hover").attr('style', "display:block");
                $("#restoreManager").addClass("hover").attr('style', "display:none");

                let memberNo = this.children[0].innerText;

                axios({
                    method: 'get',
                    url: '/franchise/managerDetail/' + memberNo,
                })
                .then(function (response) {
                    console.log(response);

                    $("#detail-memberNo").val(response.data.memberNo);
                    $("#manager-id").text(response.data.memberId).val();
                    $("#manager-name").text(response.data.managerName).val();
                    $("#manager-phone").text(response.data.managerPhone).val();
                    $("#manager-email").text(response.data.managerEmail).val();
                    $("#franchise-branchName").text(response.data.franchiseInfo.branchName).val();

                })
                .catch(function (error) {
                    console.log(error)
                })
                .then(function () {

                });
            });

            $("#removedManagerTable tbody").on("click", "tr", function () {

                $(".franchiseDetailView").addClass("active").attr('style', "display:block");
                $("#updateManager").addClass("hover").attr('style', "display:none");
                $("#removeManager").addClass("hover").attr('style', "display:none");
                $("#restoreManager").addClass("hover").attr('style', "display:block");

                let memberNo = this.children[0].innerText;

                axios({
                    method: 'get',
                    url: '/franchise/managerDetail/' + memberNo,
                })
                    .then(function (response) {
                        console.log(response);

                        $("#detail-memberNo").val(response.data.memberNo);
                        $("#manager-id").text(response.data.memberId).val();
                        $("#manager-name").text(response.data.managerName).val();
                        $("#manager-phone").text(response.data.managerPhone).val();
                        $("#manager-email").text(response.data.managerEmail).val();
                        $("#franchise-branchName").text(response.data.franchiseInfo.branchName).val();

                    })
                    .catch(function (error) {
                        console.log(error)
                    })
                    .then(function () {

                    });
            });

            /* 가맹점 계정 삭제 이벤트 */
            $(function () {
                $("#removeManager").click(function () {
                    const memberNo = $("#detail-memberNo").val();
                    location.href="/franchise/delete/" + memberNo;
                });
            });

            /* 가맹점 계정 복구 이벤트 */
            $(function () {
                $("#restoreManager").click(function () {
                    const memberNo = $("#detail-memberNo").val();
                    location.href="/franchise/restore/" + memberNo;
                });
            });
        });
    </script>

    <!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

    <!-- Select2 -->
    <script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>

    <!-- Jquery Validate -->
    <script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

    <!-- Input Mask-->
    <script th:src="@{/js/plugins/jqueryMask/jquery.mask.min.js}"></script>

</body>
</html>