<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/menucss.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet">

    <!-- Text spinners style -->
    <link th:href="@{/css/plugins/textSpinners/spinners.css}" rel="stylesheet">

    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <!-- 가맹점 직원 정보 수정 js 스크립트 -->
    <script th:src="@{/js/franchise/managerModify.js}"></script>
    <div class="modal inmodal fade" id="managerModifyModal1" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">가맹점 직원 계정 정보 수정</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="modifyManagerForm1" method="post" action="/franchise/updateManager">
                        <div class="form-group row">
                            <input type="hidden" id="detail-memberNo"  class="form-control" name="memberNo">
                            <label class="col-lg-2 col-form-label">비밀번호</label>
                            <div class="col-lg-10">
                                    <div class="row" id="pwd-container1">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control example1" id="managerPwd1" name="memberPwd" placeholder="변경할 비밀번호를 입력하세요">
                                            </div>
                                            <div class="form-group">
                                                <div class="pwstrength_viewport_progress"></div>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="confirm" id="memberConfirm" placeholder="변경할 비밀번호를 한번 더 입력하세요">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">가맹점 직원 이름</label>
                            <div class="col-lg-10">
                                <input type="text" id="managerName" name="managerName" placeholder="변경할 이름을 입력하세요" class="form-control" data-mask="(000) 0000-0000">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">가맹점 직원 휴대전화번호</label>
                            <div class="col-lg-10">
                                <input type="text" id="managerPhone" name="managerPhone" placeholder="변경할 휴대전화 번호를 입력하세요" class="form-control" data-mask="(031) 3456-0000">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="managerEmail">가맹점 직원 이메일</label>
                            <div class="col-lg-10">
                                <input type="email" name="managerEmail" id="managerEmail" placeholder="변경할 이메일을 입력하세요" class="form-control">
                            </div>
                        </div>

                    <button type="submit" id="btn-member-submit" class="btn btn-primary">계정 정보 수정</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {

            <!-- password meter -->
            var options1 = {};
            options1.ui = {
                container: "#pwd-container2",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false,
            };

            $('.example2').pwstrength(options1);

            $("#modifyForm").ready().validate({

                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#memberPwd",
                    },
                    memberPwd: {
                        minlength: 8,
                        maxlength: 15
                    }
                }
            });

            $(".select2_demo_3").select2({
                theme: 'bootstrap4',
                placeholder: "부서를 선택하세요.",
                allowClear: true
            });
        });
    </script>
</body>
</html>