<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/plugins/slick/slick.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/slick/slick-theme.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

    <style>
        .franchise-order-cart {
            width: 500px;
            height: 670px;
            background-color: white;
            box-shadow: 1px 1px 1px 1px gray;
            position: fixed;
            margin-left: 1135px;
            bottom: 680px;
        }

        .select-menu-btn {
            border: none;
            background-color: #ffaa80;
            cursor: pointer;
            position: relative;
            width: 70px;
            height: 35px;
            color: white;
            margin-left: 15px;
            margin-top: 10px;
        }

        .regist-franchise-order-btn {
            border: none;
            height: 35px;
            width: 50px;
            position: relative;
            cursor: pointer;
            background-color: #ff8125;
            color: white;
            margin-left: 350px;
        }

        .cart-title {
            font-weight: bold;
            margin-left: 15px;
            font-size: 17px;
            margin-top: 15px;

        }

        .cart-total-price-area {
            font-weight: bold;
            font-size: 14px;
            margin-top: 10px;
            margin-left: 15px;
            font-size: 17px;
        }

        .cart-body {

            border: none;
            background-color: rgba(128, 128, 128, 0.3);
            width: 470px;
            height: 530px;
            margin-left: 15px;
            margin-top: 20px;
            overflow: scroll;
            overflow-x: hidden;
            font-size: 17px;
        }

        .item-select-cancel-btn {
            border: none;
            cursor: pointer;
            background-color: #db4455;
            color: white;
            border-radius: 20px;
            height: 20px;
        }

        .none-img-div {

            font-size: 25px;
            text-align: center;
            margin-top: 90px;
        }

    </style>

</head>
<body>
    <div th:replace="/common/header.html"></div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>발주 신청</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/}">메인페이지</a>
                </li>
                <li class="breadcrumb-item">
                    발주 관리
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/order/franchiseorderregist}" style="font-weight: bold">발주 신청</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="ibox ">

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content" style="width: 1100px">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">

                                <thead>
                                    <tr>
                                        <td style="text-align: center; font-weight: bold">
                                            물품 목록
                                        </td>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="itemList : ${ itemList }" id="item-list-tr">
                                        <td>
                                            <div class="row" style="width: 800px;">
                                                <div class="col-md-5">

                                                    <div class="product-images">
                                                        <th:block th:if="${ itemList.orderItemInfo.itemAttachmentPath ne null }">
                                                            <img th:src="@{${ itemList.orderItemInfo.itemAttachmentPath }}" alt="이미지 로드 실패!" style="width: 100%; height: 100%"/>
                                                        </th:block>
                                                        <th:block th:if="${ itemList.orderItemInfo.itemAttachmentPath eq null }">
                                                            <div class="none-img-div">이미지 준비중</div>
                                                        </th:block>
                                                    </div>

                                                </div>
                                                <div class="col-md-7" id="item-info">
                                                    <input type="hidden" th:value="${ itemList.orderItemInfo.itemInfoNo }">
                                                    <h2 class="font-bold m-b-xs">
                                                        <th:block th:text="${ itemList.orderItemInfo.itemInfoName }"></th:block>
                                                    </h2>
                                                    <input type="hidden" value="0">
                                                    <div class="m-t-md">
                                                        <h2 class="product-main-price">
                                                            <span id="item-price"><th:block th:text="${ itemList.franchiseOrderableItemPrice }"></th:block></span>
                                                            <small class="text-muted">원 (개)</small>
                                                        </h2>
                                                    </div>
                                                    <hr>

                                                    <h4>물품 설명</h4>

                                                    <div class="small text-muted">
                                                        <th:block th:if="${ itemList.orderItemInfo.itemInfoDescription eq null }">
                                                            물품 설명을 준비중입니다.
                                                        </th:block>
                                                        <th:block th:if="${ itemList.orderItemInfo.itemInfoDescription ne null }">
                                                            <th:block th:text="${ itemList.orderItemInfo.itemInfoDescription }"></th:block>
                                                        </th:block>
                                                    </div>
                                                    <hr>
                                                    <div>
                                                        <div class="btn-group">
                                                            <input type="number" id="item-amount" min="1" max="1000" maxlength="4" placeholder="수량" style="width: 80px; text-align: center; margin-right: 30px;" >
                                                            <button class="btn btn-primary btn-sm" id="regist-item-btn"><i class="fa fa-cart-plus"></i> 발주 물품에 추가</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="franchise-order-cart" id="franchise-order-cart">
                <button class="select-menu-btn" id="select-menu-btn" onclick="window.open('/menu/list')">메뉴보기</button>
                <button class="regist-franchise-order-btn" id="regist-franchise-order-btn">발주</button>

                <div class="cart-title">발주 물품 목록</div>
                <div class="cart-body">
                    <form action="/order/franchiseorderregist" method="post" id="franchise-order-regist-form">
                        <table style="text-align: center; border: none;">
                            <thead>
                            <tr>
                                <th style="width: 300px">이름</th>
                                <th style="width: 100px">수량</th>
                                <th style="width: 40px">취소</th>
                            </tr>
                            </thead>
                            <tbody id="order-cart-tbody">
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="cart-total-price-area">총 금액 : <span id="total-price"></span> 원</div>
            </div>

        </div>
    </div>

    <th:block th:replace="/common/footer.html"></th:block>

    <script th:src="@{/js/plugins/slick/slick.min.js}"></script>
    <script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

    <script>

        const $registItemBtn = document.querySelectorAll('#regist-item-btn');
        const $itemInfo = document.querySelectorAll('#item-info');
        const $itemPrice = document.querySelectorAll('#item-price');
        let checkOrderSuccess = 0;
        let checkOrderRegist = 0;
        let checkPoint = 0;

        $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-white btn-sm';

        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 5,
                ordering: false,
                responsive: true,
                lengthChange: false,
                info: false,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                ]

            });

            $(document).on('click', '#item-select-cancel-btn', function() {

                this.parentNode.parentNode.remove();

                if(document.getElementById('order-cart-tbody').childElementCount == 0) {
                    document.getElementById('total-price').innerText = '0';

                    for(let i = 0; i < $itemInfo.length; i++) {

                        if(this.parentNode.parentNode.children[0].value == $itemInfo[i].children[0].value) {
                            $itemInfo[i].children[2].value = 0;
                        }

                    }

                } else {
                    for(let i = 0; i < $itemInfo.length; i++) {

                        if(this.parentNode.parentNode.children[0].value == $itemInfo[i].children[0].value) {

                            $itemInfo[i].children[2].value = 0;

                            document.getElementById('total-price').innerText = (document.getElementById('total-price').innerText * 1) - ($itemPrice[i].innerText * 1) * (this.parentNode.parentNode.children[1].value * 1);

                        }
                    }
                }


            });

            let currentPosition = parseInt($("#franchise-order-cart").css("top"));

            $(window).scroll(function() {
                let position = $(window).scrollTop();
                $("#franchise-order-cart").stop().animate({"top":position+currentPosition+"px"},500);
            });

            $(document).on('click', '.sa-button-container .confirm', function() {

                if(checkOrderSuccess == 1) {

                    $('#franchise-order-regist-form').submit();

                } else if(checkOrderRegist == 1) {
                    checkOrderSuccess = 1;
                }

            });

        });

        if(document.getElementById('order-cart-tbody').childElementCount == 0) {
            document.getElementById('total-price').innerText = '0';
        }

        $("#item-amount").on("propertychange change keyup paste input", function() {

            // 현재 변경된 데이터 셋팅

            document.getElementById('item-amount').value = $(this).val();
            if(this.value.length > this.maxLength) {
                this.value = this.value.slice(0, this.maxLength);
            }

            if(this.value > 1000) {
                document.getElementById('item-amount').value = 1000;
            }

        });

        let orderCartTbody = '';

        for(let i = 0; i < $registItemBtn.length; i++) {

            $registItemBtn[i].onclick = function() {

                if(this.parentNode.children[0].value < 1 || this.parentNode.children[0].value == '') {
                    swal({
                        title: "추가 실패!",
                        text: "수량을 1개 이상으로 입력해주세요."
                    });
                } else {

                    orderCartTbody = '';

                    if($itemInfo[i].children[2].value == 1) {
                        swal({
                            title: "추가 실패!",
                            text: "이미 선택된 물품입니다.\n수량 수정을 원하시는 경우 발주물품에서\n취소 후 다시 추가해 주세요."
                        });
                    } else {

                        orderCartTbody += '<tr id="select-item-info">';
                        orderCartTbody += '<input type="hidden" name="itemInfoNo" value="' + $itemInfo[i].children[0].value + '">';
                        orderCartTbody += '<input type="hidden" name="itemAmount" value="' + this.parentNode.children[0].value + '">';
                        orderCartTbody += '<td>' + $itemInfo[i].children[1].innerText + '</td>';
                        orderCartTbody += '<td>' + this.parentNode.children[0].value + '</td>';
                        orderCartTbody += '<td><button class="item-select-cancel-btn" id="item-select-cancel-btn">X</button></td>';
                        orderCartTbody += '</tr>';

                        $itemInfo[i].children[2].value = 1;

                        let totalPrice = document.getElementById('total-price').innerText * 1;

                        if(totalPrice == 0) {
                            document.getElementById('total-price').innerText = this.parentNode.children[0].value * $itemPrice[i].innerText * 1;
                        } else {
                            totalPrice += this.parentNode.children[0].value * $itemPrice[i].innerText;
                            document.getElementById('total-price').innerText = totalPrice * 1;
                        }

                        this.parentNode.children[0].value = '';
                    }

                    $('#order-cart-tbody').append(orderCartTbody);
                }

            }

        }

        document.getElementById('regist-franchise-order-btn').onclick = function() {

            if($('#order-cart-tbody')[0].children.length == 0) {

                swal({
                    title: "발주 신청 실패!",
                    text: "발주 신청 물품이 선택되지 않았습니다.\n발주 신청 물품을 선택해주세요."
                });

            } else {

                swal({
                    title: "발주 신청하시겠습니까?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false
                }, function () {
                    swal("신청 완료!", "발주 신청이 완료되었습니다.", "success");
                    checkOrderRegist = 1;
                });

            }


        }

    </script>

</body>
</html>